<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkqIabLO5DXj_d57G04VCLigUJBVfK-Ao</string>
	<key>GCM_SENDER_ID</key>
	<string>363019288417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.com.demoapp</string>
	<key>PROJECT_ID</key>
	<string>project-demo-112ce</string>
	<key>STORAGE_BUCKET</key>
	<string>project-demo-112ce.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363019288417:ios:f0884b831a5bbfe301cf20</string>
</dict>
</plist>